  <section class="section1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <img src="assets/img/person.png"  class="person-img">
      </div>
      <div class="col-md-6">
        <div class="info">
        <h1>Hello Im</h1>
        <h1>john Smith</h1>
        <p>Ui/Ux designer and front-end developer from india</p>
        <button type="button" class="btn btn-primary exp-btn">Explore</button>
      </div>
    </div>
  </div>
</div>
<div class="circle1"></div>
</section>
<section class="section2">
    <div class="container-fluid">
    <div class="row">
      <div class="col-3 p-0 ">
        <div class="product">
          <img src="assets/img/s.jpg" alt="works">
        </div>
      </div>
      <div class="col-3 p-0">
         <div class="product">
          <img src="assets/img/s.jpg"  alt="works">
        </div>
      </div>
      <div class="col-3 p-0">
         <div class="product">
          <img src="assets/img/s.jpg"  alt="works">
        </div>
      </div>
      <div class="col-3 p-0">
         <div class="product">
          <img src="assets/img/s.jpg" alt="works">
        </div>
      </div>
    </div>
  </div>
</section>