.login{
	background-image: url('/assets/img/login.png');
	background-size: cover;
	background-repeat: no-repeat;
	    padding: 274px;
	    color: #fff;
	      
}
.log-cont{
	  background: rgba(5,5,5,0.5);
	      padding: 35px;
}
.log-cont input{
	background:transparent!important;
	color:#fff!important;
}
