<div class="dashboard  p-5">
	<div class="row pb-5">
		<div class="col-3">
			<div class="o-card card-m p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-anchor"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
			<div class="o-card card-n p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-adjust"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line line-n"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
			<div class="o-card card-o p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-address-book"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line line-o"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
			<div class="o-card card-p p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-american-sign-language-interpreting"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line line-p"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
		</div>
		<div class="col-3">
		</div>
		<div class="col-3">
		</div>
	</div>
	<div class="row pt-3">
		<div class="col-3">
			<div class="o-card card-m1 p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-anchor"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
			<div class="o-card card-m1 p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-adjust"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line line-n"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
			<div class="o-card card-m1 p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-address-book"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line line-o"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
			<div class="o-card card-m1 p-2">
				<div class="row">
					<div class="col-6">
						<p>$ 78,58,55</p>
						<p>Total profit</p>
						<p>monthly progress</p>
					</div>
					<div class="col-6 text-center">
						<p><i class="fa fa-american-sign-language-interpreting"></i></p>
						<p><img src="/assets/img/music.png" width="60px;"></p>
					</div>
				</div>
				<p class="progress-line line-p"><span class="progress-dot"></span></p>
			</div>
		</div>
		<div class="col-3">
		</div>
		<div class="col-3">
		</div>
		<div class="col-3">
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-6 text-center">
			<h2 class="mb-5">Top price chart</h2>
			<div class="bar">
				<img src="/assets/img/bar.png" width="100%">
			</div>
		</div>
		<div class="col-6">
			<div class="pie mx-auto">
				<div class="pie1">
				</div>
				<div class="pie2">
				</div>
				<div class="pie3">
				</div>
					<div class="pie4">
				</div>
			</div>
			<div class="ppl-l">
				<div class="pp1"><span class="pp-bar1 mb-2"></span> People</div>
				<div class="pp2"><span class="pp-bar2 mb-2"></span> Profit</div>
				<div class="pp3"><span class="pp-bar3 mb-2"></span> Rating</div>
				<div class="pp4"><span class="pp-bar4 mb-2"></span> Special</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	</div>